extends ../layout/base

block layout-content
    .page-container
        h1(id='title')
            span#modify Room: #{roomName}, Users: #{users},
            span#username You: #{username}
        button(onclick="quitRoom()") Quit
        div(id="startGame")
            form(id="startForm")
                label(for="rows") Rows:
                input(type="number" id="rows" name="rows" min="5" max="100" value="10")
                label(for="cols") Cols:
                input(type="number" id="cols" name="cols" min="5" max="100" value="10")
            button(id="startGameButton" onclick="startGame()") Start Game
    div.page-container
        .canvas-container
            .info-container
                .bombs-container
                    canvas(id="bombsCanvas")
                    div(id="bombs") 0
                div(id="timer") 0
            canvas(id="minesweeperCanvas")
    div(id="resultContainer").results-container
        h1 Results
        div(id="results")
    div(id="waiting").results-container
        h1 Waiting for other players...
    script.
        const socket = io();

        let isScriptAppended = false;

        const resultContainer = document.getElementById("resultContainer");
        const results = document.getElementById("results");
        const title = document.getElementById("modify");
        const username = document.getElementById("username").innerText.split(" ")[1];
        const startDiv = document.getElementById("startGame");
        const startButton = document.getElementById("startGameButton");
        const waiting = document.getElementById("waiting");
        let clickStartButton = 0;

        function updateTitle(room, userList) {
            title.innerText = `Room: ${room}, Users: ${userList.join(", ")} `;
        }

        let roomName;
        let users;

        if (!isScriptAppended) {
            const script = document.createElement('script');
            script.src = `/js/versus.bundle.js`;
            document.body.appendChild(script);
            isScriptAppended = true; // Mark the script as appended
        }

        socket.on('roomData', (data) => {
            //console.log('Room data:', data);
            roomName = data.roomName;
            users = data.users;
            // First to join is host (first in the list)
            if (username === users[0]){
                startDiv.style.display = "block";
            }
            else {
                startDiv.style.display = "none";
            }
            //console.log("Users: ", users);
            updateTitle(roomName, users);
        });

        function quitRoom() {
            socket.emit('quitRoom', {roomName, username});
            window.location.href = '/';
        }

        function startGame() {
            const rows = document.getElementById("rows").value;
            const cols = document.getElementById("cols").value;
            // Check rows and cols values

            resultContainer.style.display = "none";
            socket.emit('startVersusGame', {roomName, rows, cols});
            startDiv.style.display = "none";
        }

        socket.on('receiveVersusGame', (data) => {
            const numBombs = data.numBombs;
            const bombCoordinates = data.bombCoordinates;
            const rows = data.rows;
            const cols = data.cols;
            startDiv.style.display = "none";
            //const rows = data.rows;
            //const cols = data.cols;
            resultContainer.style.display = "none";

            //console.log('rows', rows, 'cols', cols);
            document.dispatchEvent(new CustomEvent('startVersusGameEvent', {detail: {numBombs, bombCoordinates, rows, cols}}));
        });

        socket.on('test', (data) => {
            console.log('test', data);
        });

        // Wait for the 'endGame' event to be dispatched
        document.addEventListener('endVersusGame', (event) => {
            //console.log('endVersusGame event received');
            const {result} = event.detail;
            // Emit a signal to the socket
            waiting.style.display = "block";
            socket.emit('gameFinished', {result, roomName, username});
        });

        socket.on('versusGameResult', (data) => {
            //console.log("Game result:", data);
            const allResults = data.results;
            const sortedResults = allResults.sort((a, b) => a.score - b.score);
            waiting.style.display = "none";
            resultContainer.style.display = "flex";
            // Build a string with results
            let resultsText = "Results:\n";
            sortedResults.forEach((result, index) => {
                resultsText += `${index + 1}. ${result.username} - Score: ${result.score}\n`;
            });
            results.innerText = "Bravo : " + data.winner + "\n" + "Score : " + data.result;
            results.innerText = results.innerText + "\n" + resultsText;
            clickStartButton = 0;
            if (username === users[0]) {
                startDiv.style.display = "block";
            } else {
                startDiv.style.display = "none";
            }
        })
